/*注册页面 sign*/
body {
  margin: 0;
  background-color: #f0f0f0;
}

.form {
  background-color: #ffffff;
  width: 310px;
  margin: 100px auto;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.form .tabs {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
}
.form .tabs .tab {
  flex: 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}
.form .tabs .tab a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
.form .tabs .tab:focus {
  outline: none;
}
.form .tabs .tab-selected {
  color: #000;
  border-bottom: 2px solid #1c1c1c;
}
.form .form-login .hint {
  height: 30px;
  display: flex;
  align-items: center;
}
.form .form-login .hint .hint-icon {
  width: 11px;
  height: 11px;
  margin-right: 6px;
}
.form .hint .txt {
  font-size: 10px;
  line-height: 14px;
  color: #ff4848;
}
.form input {
  width: 90%;
  height: 20px;
  box-sizing: content-box;
  border: 1px solid #e2e2e2;
  padding: 10px 15px;
  font-size: 12px;
  color: #1a1a1a;
  border-radius: 15px;
  transition: all 0.2s;
}

.form .panel {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form .form-signup {
  margin-top: 39px;
  line-height: 0;
}

.form input:focus,
.form input:focus-visible {
  outline: none;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.form .submit {
  box-sizing: content-box;
  width: 4rem;
  height: 22px;
  padding: 5px 6px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  background-color: transparent;
  transition: all 0.2s;
}

.form .submit:hover,
.form .submit:focus,
.form .submit:focus-visible {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.errMsg {
  width: calc(100% - 40px);
  padding: 0 20px;
  color: #ff4848;
  font-size: 14px;
}