<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/form.css" />
    <link rel="stylesheet" href="../static/css/search.css" />
  </head>
  <body>
    <div class="form">
      <div class="tabs">
        <div class="tab login tab-selected" tabindex="0">密码登录</div>
        <div class="tab signup" tabindex="0">
          <a href="/user/getRegister">注册</a>
        </div>
      </div>
      <div class="form-login">
        <!--        <div class="hint" style="ia screen and (min-width: 840px) {-->
        <!--        .mainContent {ia screen and (min-width: 840px) {-->
        <!--        .mainContent {-->
        <!--        grid-template-columns: 1fr 1fr 1fr;-->
        <!--        }-->
        <!--    }-->
        <!--        grid-template-columns: 1fr 1fr 1fr;-->
        <!--        }-->
        <!--    }display:none">-->
        <!--            <span class="hint-icon"></span>-->
        <!--            <span class="txt">用户名或密码错误</span>-->
        <!--        </div>-->
        <form th:action="@{/user/login}" class="panel" method="post">
          <input
            type="text"
            class="username"
            placeholder="请输入用户名"
            onblur="onblur"
            name="name"
          />
          <input
            class="pwd"
            type="password"
            placeholder="请输入密码"
            name="password"
          />
          <button type="submit" class="submit">登录</button>
        </form>
      </div>
    </div>
  </body>
</html>
