<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/form.css" />
    <link rel="stylesheet" href="../static/css/search.css" />
  </head>
  <body>
    <div class="form">
      <div class="tabs">
        <div class="tab login tab-selected" tabindex="0">密码登录</div>
        <div class="tab signup" tabindex="0">
          <a href="/user/getRegister">注册</a>
        </div>
      </div>
      <div class="form-login">
        <form th:action="@{/user/login}" class="panel" method="post">
          <div class="errMsg" th:if="${errMsg}"><span th:text="${errMsg}"></span></div>

          <input
            type="text"
            class="username"
            placeholder="请输入用户名"
            onblur="onblur"
            name="name"
          />
          <input
            class="pwd"
            type="password"
            placeholder="请输入密码"
            name="password"
          />
          <button type="submit" class="submit">登录</button>
        </form>
      </div>
    </div>
  </body>
</html>
