<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
</head>
<body>
<div class="search">
    <img src="../static/image/logo.png" class="logo">
    <form th:action="@{/search/queryDoc}" method="post">
        RottenSearch<input type="text" name="query" class="search-input"/><br/>
        <input type="hidden" name="page" value="1"/><br/>
        <input type="hidden" name="limit" value="10"/>
        <button type="submit" value="查询">摆烂一下</button>
    </form>
</div>
</body>
</html>