<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>测试</title>
    <link rel="stylesheet" type="text/css" href="../static/css/search.css" />
  </head>
  <body>

    <div class="usr-panel">
      <a class="user-login" href="/user/getLogin">登录</a> /
      <a class="user-register" href="/user/getRegister">注册</a>
    </div>
    <div class="usr-msg"  style="display: none">
      Hello, <span id="username"></span> | <a class="change-account" th:href="@{/user/getLogin}">切换账号</a>
    </div>
    <div class="search">
      <div class="logoContainer">
        <img src="../static/image/logo.png" alt="logo" class="logo" />
      </div>

      <form th:action="@{/search/queryDoc}" method="post">
        <input
          type="text"
          placeholder="搜索一下"
          name="query"
          class="search-input"
        />
        <button type="submit" class="search-button">搜索一下</button>
        <input type="hidden" name="page" value="1" />
        <input type="hidden" name="limit" value="36" />
      </form>
    </div>
  <script src="../static/js/searchUserPanel.js">
  </script>
  </body>
</html>
