<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/html"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="never" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>查询结果</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/searchResult.css"
    />
    <link rel="stylesheet" href="../static/css/search.css" />
  </head>
  <body>
    <!--头部 1 未登录状态-->
    <header>
      <!--左边为搜索框，右边为登录注册-->
      <div class="header">
        <img src="../static/image/logo.png" alt="logo" class="logo" />
        <div class="usr-panel">
          <a class="user-login" href="/user/getLogin">登录</a> /
          <a class="user-register" href="/user/getRegister">注册</a>
        </div>
      </div>
      <div class="search-result-form">
        <form th:action="@{/search/queryDoc}" method="post">
          <input type="text" name="query" class="search-input" />
          <button class="search-button">搜索一下</button>
          <input type="hidden" name="page" value="1" />
          <input type="hidden" name="limit" value="36" />
        </form>
      </div>
      <div class="about">
        <div class="list">
          <div th:each="item:${relateQueryList}">
            <a
              th:href="@{/search/queryDoc(query=${item})}"
              th:text="${item}"
            ></a>
          </div>
        </div>
      </div>
    </header>
    <!--头部 2 已登录状态-->
    <!--<header  style="display: none">-->
    <!--    &lt;!&ndash;左边为搜索框，右边为用户&ndash;&gt;-->
    <!--    <div class="search">-->
    <!--        <form th:action="@{/search/queryDoc}" method="post">-->
    <!--            query:<input type="text" name="query"/><br/>-->
    <!--            <input type="hidden" name="page" value="1"/><br/>-->
    <!--            <input type="hidden" name="limit" value="100"/>-->
    <!--            <button type="submit" value="查询"/>-->
    <!--        </form>-->
    <!--    </div>-->
    <!--    <div class="user">-->
    <!--        <span></span>-->
    <!--    </div>-->
    <!--</header>-->
    <!--主体，显示查询结果-->
    <main class="mainContent">
      <div
        class="search-result"
        th:each="doc,it:${queryResponseBody.documentList}"
      >
        <div class="each-doc">
          <a th:href="${doc.url}">
            <div class="desc">
              <img th:src="${doc.url}" />
              <a th:href="${doc.url}" target="_blank" class="link"
                ><span th:utext="${doc.desc}"></span
              ></a>
            </div>
          </a>
        </div>
      </div>
    </main>
    <div class="page">
      <div class="last">
        <a
          th:href="@{/search/queryDoc(query=${query},page=${queryResponseBody.page - 1})}"
          th:if="${queryResponseBody.page > 1}"
        >
          < 上一页</a
        >
      </div>
      <div class="currentPage">
        <span th:text="${queryResponseBody.page}"></span>
      </div>
      <div class="next">
        <a
          th:href="@{/search/queryDoc(query=${query},page=${queryResponseBody.page + 1})}"
        >
          下一页 >
        </a>
      </div>
      <!--    <ul class="page-list" >-->
      <!--        <li th:if="${queryResponseBody.page>1}" class="prev"><a th:href="@{/search/queryDoc(query=${query},page=${(queryResponseBody.page)-1})}">上一页</a></li>-->
      <!--        <li th:if="${queryResponseBody.page==1}" class="prev disabled"><a>上一页</a></li>-->
      <!--        <li th:if="${queryResponseBody.page>2}" th:class="${num == queryResponseBody.page?'active':''}" class="active" th:each="num:${#numbers.sequence((queryResponseBody.page)-2,queryResponseBody.page+2)}">-->
      <!--            <a th:href="@{/search/queryDoc(query=${query},page=${num})}">[[${num}]]</a>-->
      <!--        </li>-->
      <!--        <li th:if="${queryResponseBody.page<=2}" th:class="${num == queryResponseBody.page?'active':''}" class="active" th:each="num:${#numbers.sequence(1,5)}">-->
      <!--            <a th:href="@{/search/queryDoc(query=${query},page=${num})}">[[${num}]]</a>-->
      <!--        </li>-->
      <!--        <li th:if="${queryResponseBody.page<queryResponseBody.pageCount}" class="next"><a th:href="@{/search/queryDoc(query=${query},page=${(queryResponseBody.page)+1})}">下一页</a></li>-->
      <!--        <li th:if="${queryResponseBody.page==queryResponseBody.pageCount}" class="next disabled"><a>下一页</a></li>-->
      <!--    </ul>-->
    </div>
  </body>
</html>
